# my project tests 
ios/doc 
ios/examples
ios/graphics
ios/legacy
ios/prototype

# iOS
ios/**/Pods/
ios/**/*.xcuserstate


# Amplify 
ios/**/.amplifyrc
ios/**/amplify
ios/**/.graphqlconfig.yml
ios/**/awsconfiguration.json
ios/**/graphql/**

# SAM 
packaged.yaml

# Linux 
*~

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# OSX 
*.DS_Store

# Windows
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
