packaged.yaml
fake
Makefile

# iOS
Pods/
Pods
**/Pods/**

# Amplify 
**/.amplifyrc
**/amplify

# Linux 
*~

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# OSX 
*.DS_Store

# Windows
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
